
.vs/DirectX/FileContentIndex/25d27443-8428-44a1-a198-bf76ca14a122.vsidx
.vs/DirectX/FileContentIndex/983a7af1-6fa2-4506-9b22-6f16436d1390.vsidx
*.vsidx
.vs/DirectX/v17/.suo
.vs/DirectX/v17/Browse.VC.db
.vs/DirectX/v17/ipch/AutoPCH/aba67bb019819747/MESH.ipch
*.ipch
*.db
.vs/DirectX/FileContentIndex/983a7af1-6fa2-4506-9b22-6f16436d1390.vsidx
*.vsidx
.vs/DirectX/v17/.suo
